html,body {
    --slack-color : #4c204b;
    margin:0;
    padding: 0;
    overflow: visible;
}
.app {
    height:100vh;
}
.app__heading {
    padding-top: 50px;
    background-color: var(--slack-color);
    color:white;
    text-align: center;
    max-width: 500px;
    flex-grow: 1;
    margin: 100px auto ;
}
.app__heading h1 {
    font-size: 50px;
    margin-bottom: 50px;
}
.app__heading .MuiSvgIcon-root {
    margin-top: 30px;
    font-size: 100px !important;
}
.app__header {
    height:9%;
}
.app__body {
    display: flex;
    height: 91%;
    background-color: white;
}