.chat {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    height:100%;
    position: relative;
}

.chat__header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border: 1px solid lightgray;
    background-color: rgb(236, 228, 228);
}
.chat__channelName {
    display: flex;
    align-items: center;
    text-transform : lowercase;
}

.chat__headerLeft .MuiSvgIcon-root {
    margin-left: 20px;
}
.chat__headerRight {
    display: flex;
    align-items: center;
}
.chat__headerRight .MuiSvgIcon-root {
    margin-right: 10px;
}

.chat__messages {
    height:70%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
    padding: 4px 10px;
}

.chat__input {
    width:100%;
    height:40%;
    background-color: rgb(231, 227, 227);
    height: 30px;
    padding: 10px 20px;
}
.chat__input input {
    outline: none;
    width:90%;
    border:1px solid lightgray;
    border-bottom:1px solid black;
    border-radius: 4px;
    padding:6px;
    font-size: 15px;
}

.chat__input button {
    display: none !important;
}