.signin {
    background-color: lightgrey;
    height:100vh;
    position: relative;
}
.login {
    position: absolute;
    background-color: teal;
    margin-top:100px;
    margin-left:450px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.login img {
    width:250px;
    height:250px;
    object-fit: contain;
}
.login h2 {
    max-width: 250px;
    margin: 0 40px;
    font-size:30px;
}
.login button {
    padding:10px 20px;
    border:1px solid grey;
    background-color: rgb(64, 153, 64);
    color:white;
    border-radius: 4px;
    margin:20px;
    font-size: 20px;
}
.login button:hover  {
    background-color: rgb(12, 129, 37);
}